body{
    background-image: url(./view/tfFtH4HypBZ6L36ZfQAAAAAElFTkSuQmCC.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;

}

#porta{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 14, 14, 0);  
    border: none;
    margin-top: 60vh;
    margin-left: 45vh;
    height: 210px;
    width: 180px;
    position: relative; 
}
