
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../view/camila-xiao-pixel-art-tavernkeeper-medieval-cute-retro-8bit-16bit-man-guy-bar-pixelartist-camilaxiao-camilacanuto2.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.itens-comprar{
    display: flex;
    position: absolute;
    z-index: 1;
    gap: 20vh;
    top: 40vh;
    visibility: visible;
}

#bartender{
    height: 390px;
    width: 270px;
}

.itens-comprar button{
    background-color: rgba(0, 136, 255, 0);
    border: none;
    pointer-events: stroke;
}

.itens-comprar button:hover{
    transform: scale(1.08);
}